/* FEATURES */
.features {

  .title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: $title-text-collor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.71;
  }

  .item {
    width: 450px;

    &::before {
      display: block;
      content: '';
      height: 120px;
      margin-bottom: 30px;
      background-color: $background-button;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }

    &.icon-antenna::before {
      background-image: url(../images/icon/antenna.svg);  
    }

    &.icon-clock::before {
      background-image: url(../images/icon/clock.svg);  
    }

    &.icon-diagram::before {
      background-image: url(../images/icon/diagram.svg);  
    }

    &.icon-astronaut::before {
      background-image: url(../images/icon/astronaut.svg);  
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features {
    .title {
      text-align: center;
    }
    .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}


@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 354px; 
    }        
  }  
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {

    .item:nth-child(2n+1){
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;

    .item {
      width: 270px; 
    }
    .item:not(:last-child) {
      margin-right: 30px;
    }
  } 
}
