.footer {
  padding: 60px 0px;
  background-color: $background;
  font-size: 14px;
  line-height: 1, 7;

  .conteiner{
    display: flex;
  }
  .social-list {
    svg {
      width: 20px;
      height: 20px;
      fill: $white-collor;
    }
  }
  
  .social-link:hover,
  .social-link:focus {
    background-color: $accent-collor;
  }
  
  .social-list-link {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    li:not(:last-child){
      margin-right: 10px;
    }
  }

  .logo {
    display: block;
    margin-bottom: 20px;
  }
  
  .social-list-link {
    li:not(:last-child){
      margin-right: 10px;
    }
  }
}

.title.social {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  text-transform: uppercase;
  color: $white-collor;
}

.address-office {
  display: block;
  margin-bottom: 9px;
  color: $white-collor;
  font-style: normal;
  text-decoration: none;
}

.contacts-footer {
  display: block;
  margin-bottom: 9px;
  color: $contacts-footer-text;
  font-style: normal;
  text-decoration: none;
}  

.mailing-form {
  input {
    width: 450px; 
    height: 50px;
    padding: 15px;

    background-color: rgba(33, 150, 243, 0);
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  svg {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}   


@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {  
    .conteiner{
      flex-direction: column;
      text-align: center;
    }

    .social-list {
      margin: 60px 0;
    }

    .social-list-link {
      width: 208px;
      margin: 0 auto;
    }    
  }

  .mailing-form {
    input {
      margin-bottom: 20px;
    }
  
    .button {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    .conteiner{        
      flex-wrap: wrap;
      text-align: center;
    }
    .contacts {
      margin-left: 76px;
    }
    .social-list {
      margin-left: 165px;
    }
  }

  .mailing-form {
    margin: 0 auto;
  }
  input {
    margin-bottom: 20px;
  }

  .button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {  
    .conteiner{          
      align-items: flex-start;  
    } 
    .logo {
      margin-bottom: 10px;
    }  
    .social-list {
      margin-left: 70px;
      margin-right: 94px;
    }
  }

  .mailing-form {
    &-list {
      display: flex;
    }
  
    input {
      width: 358px;
      margin-right: 12px;
    }
  }   
}
