.portfolio-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;  

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: start;
    
    }
  

    .item:not(:last-child){
      margin-right: 8px;
    }
  }