    $primery-text-collor: #757575;
    $title-text-collor: #212121;
    $accent-collor: #2196f3;
    $white-collor: #fff;
    $background: #2f303a;
    $background-button: #f5f4fa;
    $contacts-footer-text: rgba(255, 255, 255, 0.6);
    $border-carts: #EEEEEE;
    $icon: #AFB1B8;


